<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minesweeper</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- there is one html file for all the pages. I decided to do it this way because there are only two pages and they
         both do not contain much in them, so I decided to just put everything in one file.-->
</head>
<!-- if we are on the home page then game_info does not exist. The value declared inside this if statement are for
     the games -->
{% if game_info %}
    <!-- game_time is a variable to pass to the 'onload' function that updates the games time. Set it to updated_time
         everytime the page is refreshed to update the time -->
    {% set game_time = game_info.updated_time %}
    <!-- if game_over == 1 then the game was won by the player -->
    {% if game_info.game_over == 1 %}
        <!-- add the game won class and congrats message to the header -->
        {% set display = 'game_won' %}
        {% set message = 'CONGRATULATIONS!!!' %}
    <!-- if game_over == -1 then the game was lost by the player -->
    {% elif game_info.game_over == -1 %}
        <!-- add the game lost class and try again message to the header -->
        {% set display = 'game_lost' %}
        {% set message = 'SORRY. TRY AGAIN!!!' %}
    <!-- the game is ongoing and we hide the header -->
    {% else %}
        <!-- hide the header -->
        {% set display = 'hide' %}
        {% set message = 'N/A' %}
    {% endif %}
{% else %}
    <!-- if game_info does not exist then just set the game time to 0 -->
    {% set game_time = 0 %}
{% endif %}
<!-- everytime the page is refreshed we update the timer's time to match the backend time. If there is no game then
     nothing happens-->
<body onload="update_time({{ game_time }})">
    <!-- these are the rules and the player can hide or display them if they need help -->
    <div id="key" class="hide">
        <p><b>How to play(Visibility of the rules can be toggled by clicking the '?' icon):</b></p>
        <p>1. While hovering over a node, press 'M' key to flag and unflag a node.</p>
        <p>2. If you flag nodes around an active node and then press the active node, it will let you know if you guessed
            the mine(s) correctly. However, if you guessed wrong, then you'll get a penalty of +10 seconds to your score
            for each node that was guessed wrong. </p>
        <p>3. Pressing on a node with a mine will cause all the mines to go off and lose the game.</p>
        <p>4. Each node has a value that lets you know how many mines are surrounding it.</p>
        <p>5. To win, you must activate all nodes that do not have a mine.</p>
        <p>6. If there are multiple wrongly flagged nodes around a node, then you can click the base node to set them
              all to active at the same time(or you can activate them one at a time, and they must be activated to win).</p>
    </div>
<!-- this div set elements to the center and increases the width to allow the games to fit on the page without them
     collapsing on themselves -->
<div id="game_align_center">
    <p id="jello"></p>
    <!-- logo header -->
    <h1 class="title">Minesweeper</h1>
    <!-- div to add margin to the top page buttons -->
    <div style="margin: 20px;">
        <!-- if leaderboard exists then we are on the home page, so only display when on a game -->
        {% if not leaderboard %}
            <form action="{{ url_for('features.start') }}" method="GET" style="display: inline;">
                <button type="submit" class="btn">Home</button>
            </form>
        {% endif %}
        <!-- buttons to choose game difficulty -->
        <form action="{{ url_for('features.set_game_grid', length=10) }}" method="GET" style="display: inline;">
            <button type="submit" class="btn">Beginner(10x10)</button>
        </form>
        <form action="{{ url_for('features.set_game_grid', length=15) }}" method="GET" style="display: inline;">
            <button type="submit" class="btn">Medium(15x15)</button>
        </form>
        <form action="{{ url_for('features.set_game_grid', length=25) }}" method="GET" style="display: inline;">
            <button type="submit" class="btn">Hard(25x25)</button>
        </form>
        <form action="{{ url_for('features.set_game_grid', length=5) }}" method="GET" style="display: inline;">
            <button type="submit" class="btn">Test Game(5x5)</button>
        </form>
    </div>
    <!-- if leaderboard exists then we are on the home page and the leaderboard is displayed -->
    {% if leaderboard %}
        <!-- this div styles the leaderboard -->
        <div class="leaderboard">
            <h1 id="leaderboard" align="center">Leader Board</h1>
            <!-- these are counters to assign rank 1 to every category of difficulty -->
            <!-- the leaderboard is a list of all the games, and we loop through them to sort them under the correct
                 section. Admittedly, I can sort the games in the back end and pass them as variables, and I wouldn't
                 have to do any this here. -->
            <!-- loop through the difficulties -->
            {% for difficulty in ['Beginner', 'Medium', 'Hard', 'First Node Winners', 'Test Game'] %}
                <!-- reset counter vars for ranks -->
                {% set Beginner_rank = namespace(value=1) %}
                {% set Medium_rank = namespace(value=1) %}
                {% set Hard_rank = namespace(value=1) %}
                <!-- display difficulty and then loop through the games and filter them -->
                <h2 align="center">{{ difficulty }}</h2>
                {% for game in leaderboard %}
                    <!-- convert the scores to minutes:seconds format -->
                    {% set minutes = (game.score|int / 60)|int %}
                    {% set seconds = game.score|int % 60 %}
                    <!-- do not display games with scores of 0 because those are first node winners, and they go in
                         their own category -->
                    {% if game.score != 0 and game.difficulty == difficulty %}
                        <!-- set the rank to the length of what each difficulty list is -->
                        {% if game.difficulty == 'Beginner' %}
                            {% set rank = Beginner_rank.value %}
                        {% elif game.difficulty == 'Medium' %}
                            {% set rank = Medium_rank.value %}
                        {% elif game.difficulty == 'Hard' %}
                            {% set rank = Hard_rank.value %}
                        {% endif %}
                        <!-- div for each entry on the leaderboard -->
                        <div class="player_scores">
                            <p class="stats">Rank: {{ rank }}
                            <!-- Bronze trophy icon for rank 1 in Beginner difficulty(free use) -->
                            {% if rank == 1 and difficulty == 'Beginner' %}
                                <img class="icons" align="center" src="{{ url_for('features.send_image', filename='easy_trophy.png') }}" height="30px" width="30px">
                            <!-- Silver trophy icon for rank 1 in Medium difficulty(free use) -->
                            {% elif rank == 1 and difficulty == 'Medium' %}
                                <img class="icons" align="center" src="{{ url_for('features.send_image', filename='medium_trophy.png') }}" height="30px" width="30px">
                            <!-- Gold trophy icon for rank 1 in Hard difficulty(free use) -->
                            {% elif rank == 1 and difficulty == 'Hard' %}
                                <img class="icons" align="center" src="{{ url_for('features.send_image', filename='hard_trophy.png') }}" height="40px" width="40px">
                            {% endif %}
                            </p>
                            <p class="stats">Player: {{ game.name }}</p>
                            <p class="stats">Score: {{ "%02d" % minutes }}:{{ "%02d" % seconds }}</p>
                            <p class="stats">Mines: {{ game.mines }}</p>
                        </div>
                        <!-- increment the rank vars if the difficulty matches -->
                        <p hidden>
                            {% if game.difficulty == 'Beginner' %}
                                {% set Beginner_rank.value = Beginner_rank.value + 1 %}
                            {% elif game.difficulty == 'Medium' %}
                                {% set Medium_rank.value = Medium_rank.value + 1 %}
                            {% elif game.difficulty == 'Hard' %}
                                {% set Hard_rank.value = Hard_rank.value + 1 %}
                            {% endif %}
                        </p>
                    <!-- All the first node winners are displayed here by order of when the game was won(minus test games) -->
                    {% elif game.score == 0 and difficulty == 'First Node Winners' and game.difficulty != "Test Game" %}
                        <div class="player_scores">
                            <p class="stats">
                                <!-- Four leaf clover icon for all first node winners(free use) -->
                                <img class="icons" align="center" src="{{ url_for('features.send_image', filename='lucky_players.png') }}" height="40px" width="40px">
                                Player: {{ game.name }}</p>
                            <p class="stats">Score: 00:00</p>
                            <p class="stats">Mines: {{ game.mines }}</p>
                            <p class="stats">Difficulty: {{ game.difficulty }}</p>
                        </div>
                    <!-- all test games go here. Only the 5 most recent games are kept -->
                    {% elif game.difficulty == 'Test Game' and difficulty == 'Test Game' %}
                        <div class="player_scores">
                            <p class="stats">Player: {{ game.name }}</p>
                            <p class="stats">Score: {{ "%02d" % minutes }}:{{ "%02d" % seconds }}</p>
                            <p class="stats">Mines: {{ game.mines }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    <!--- this is the message for when the game is complete(contents depends on if won/lost) -->
    <h1 align="center" class="{{ display }}" id="game_over">{{ message }}</h1>
    {% if game_info %}
        <!-- if the player won the game and beat a high score then the score box will display for them to save their
             name and score. The score box also displays for all test games since those are not saved based on score -->
        {% if game_info.leaderboard == 1 %}
            <div class="{{ score_box }}">
                <!-- Pass vars to the backend -->
                <form action="/submit-score" method="POST" class="text">
                    <!-- format their score in minutes:seconds format -->
                    {% set minutes = (game_info.updated_time / 60)|int %}
                    {% set seconds = game_info.updated_time % 60 %}
                    <label for="name">Name:</label>
                    <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control name_input"
                            pattern="[a-zaA-Z0-9]{2,8}"
                    >
                    <br />
                    <p name="score">Score: {{ "%02d" % minutes }}:{{ "%02d" % seconds }}</p>
                    <button type="submit" class="submit">Submit</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
    <!-- div containing the current game -->
    <div class="center_games">
        <!-- the grid is not the same as a game because this just sets up the nodes and there are no values assigned to
             the nodes at this point. It is set up this way because the value of the nodes depend on what node the
             player first chooses. It might be possible to combine the grid and game if we have a game_info variable
             kept track of if the player has selected the first node, but this way works too. We split it up because the
             nodes of the grid have a form that passes the values to the first node function.-->
        {% if grid %}

            <h2>
                <!-- help button can hide and display the rules -->
                <button type="" class="help" onclick="help()">?</button>
                <!-- bomb counter -->
                Bombs: {{ (0.15 * game_info.length * game_info.length)|round|int }}
            </h2>
            {% for node in grid %}
                {% if node.status == 0 %}
                    {% set display = 'grid inactive' %}
                {% endif %}
                <form action="/first-node/{{ node.id }}" method="POST" style="display: inline;">
                    <button class="{{ display }}" id="{{ node.id }}">
                        <span class="hide">{{ node.value }}</span>
                    </button>
                </form>
                <!-- this if statement separates the nodes into rows. The nodes all float left so
                     if loop.index % game_info.length == 0 then we are at the right corner and ned to start a new row-->
                {% if loop.index % game_info.length == 0 %}
                    <div style="clear: both;"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <!-- the difference between a grid and a game is that the game's nodes all have values set -->
    {% if game %}
        <!-- format the time correctly -->
        {% set minutes = (game_info.updated_time / 60)|int %}
        {% set seconds = game_info.updated_time % 60 %}
        <h2>
            <!-- help button can hide and display the rules -->
            <button type="" class="help" onclick="help()">?</button>
            <!-- if game is lost then display the total of bombs -->
            {% if game_info.game_over == -1 %}
                Bombs: {{ (0.15 * game_info.length * game_info.length)|round|int }}  --
            {% else %}
                <!-- else display the difference of flagged nodes and bombs -->
                Bombs: {{ (0.15 * game_info.length * game_info.length)|round|int - flagged_nodes }}  --
            {% endif %}
            Score: <b id="time"><span id="minutes">{{ "%02d" % minutes }}</span>:<span id="seconds">{{ "%02d" % seconds }}</span></b>
        </h2>
        <!-- this will flash the player with penalty messages if they flagged the wrong node and
             clicked the base node -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- the nodes float left inside this div, so we center the div so that the nodes are all in the center -->
        <div class="center_games">
            <!-- loop through the nodes in the game to display them -->
            {% for node in game %}
                <!-- the following if statements assign the color of the values according to what they are in the
                     minesweeper game -->
                {% if node.value == 1 %}
                    {% set node_value_color = 'one' %}
                {% elif node.value == 2 %}
                    {% set node_value_color = 'two' %}
                {% elif node.value == 3 %}
                    {% set node_value_color = 'three' %}
                {% elif node.value == 4 %}
                    {% set node_value_color = 'four' %}
                {% elif node.value == 5 %}
                    {% set node_value_color = 'five' %}
                {% elif node.value == 6 %}
                    {% set node_value_color = 'six' %}
                {% elif node.value == 7 %}
                    {% set node_value_color = 'seven' %}
                {% elif node.value == 8 %}
                    {% set node_value_color = 'eight' %}
                {% endif %}
                <!-- Depending on the node status, the nodes are displayed differently -->
                <!-- status 0: means the player has not clicked this node yet, and it is inactive(blue nodes) -->
                {% if node.status == 0 %}
                    {% set display = 'grid inactive' %}
                <!-- status 1: the player clicked a node that wasn't a mine and is not active -->
                {% elif node.status == 1 %}
                    {% set display = 'grid active' %}
                <!-- status 2: means the node has a mine inside it and the player activated the mine(shown when game lost) -->
                {% elif node.status == 2 %}
                    {% set display = 'grid active_mine' %}
                <!-- status 3: is a flagged node. The player can flag any inactive nodes in the game not in the grid -->
                {% elif node.status == 3 %}
                    {% set display = 'grid flagged_node' %}
                <!-- status 4: if a player flagged a node wrong then they get a penalty and the node is turned
                     purple. The player can click on it to make it active or click the base to make it active-->
                {% elif node.status == 4 %}
                    {% set display = 'grid wrongly_flagged_node' %}
                {% endif %}
                <!-- if the game is over then we disable all the nodes (win or lost) -->
                {% if game_info.game_over != 0 %}
                    {% set disabled_tag_id = node.id %}
                    <button class="{{ display }}" id="{{ disabled_tag_id }}" disabled>
                        <!-- we hide values of zero/inactive since aren't used -->
                        {% if display == 'grid inactive' or (node.value == 0 and node.status == 1) %}
                            <span class="hide">{{ node.value }}</span>
                        <!-- wrongly flagged nodes have a skull displayed(free use) -->
                        {% elif display == 'grid wrongly_flagged_node' %}
                            <img align="center" src="{{ url_for('features.send_image', filename='skull.png') }}" height="30px" width="30px">
                        <!-- flagged nodes have a flag displayed(free use) -->
                        {% elif display == 'grid flagged_node' %}
                            <img align="center" src="{{ url_for('features.send_image', filename='flag.png') }}" height="35px" width="35px">
                        <!-- display all the mines -->
                        {% elif node.value == -1 %}
                            <img align="center" src="{{ url_for('features.send_image', filename='mine_img.png') }}" height="35px" width="35px">
                        <!-- just an active node -->
                        {% else %}
                            <span class="{{ node_value_color }}">{{ node.value }}</span>
                        {% endif %}
                    </button>
                <!-- game has not been finished yet and is ongoing -->
                {% else %}
                    <!-- give buttons ids for js to fetch(m key click check) -->
                    {% set tag_id = node.id|string %}
                    <button class="{{ display }}" id="{{ tag_id }}" onclick="check_value({{ node.id }})">
                        <!-- hide inactive or zero values -->
                        {% if display == 'grid inactive' or (node.value == 0 and node.status == 1) %}
                            <span class="hide">{{ node.value }}</span>
                        <!-- wrongly flagged nodes are purple -->
                        {% elif display == 'grid wrongly_flagged_node' %}
                            <img align="center" src="{{ url_for('features.send_image', filename='skull.png') }}" height="30px" width="30px">
                        <!-- flagged nodes -->
                        {% elif display == 'grid flagged_node' %}
                            <img align="center" src="{{ url_for('features.send_image', filename='flag.png') }}" height="30px" width="30px">
                        <!-- active node with non 0 value/no mine -->
                        {% else %}
                            <span class="{{ node_value_color }}">{{ node.value }}</span>
                        {% endif %}
                    </button>
                {% endif %}
                <!-- start new row -->
                {% if loop.index % game_info.length == 0 %}
                    <div style="clear: both;"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
</body>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</html>