/* this css is the shape of each node */
.grid {
    cursor: pointer;
    border: solid;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 22px;
    margin: 2px 2px;
    border-radius: 11px;
    float: left;
}
/* the color for inactive nodes or not yet selected nodes */
.inactive {
    background-color: #adebf0;
}
.inactive:hover, .inactive:focus {
    background-color: #71c3c9;
}
/* the style for active nodes that have been selected already */
.active {
    background-color: #f5f2e9;
}
.active:hover, .active:focus {
    background-color: #d4d0c7;
}
/* style for nodes that were flagged by the player as potential mines */
.flagged_node {
    background-color: #7d9267;
    color: white;
    border-color: lightgreen;
}
.flagged_node:hover, .flagged_node:focus {
    background-color: #0c7d6a;
}
/* when the game is lost the mines are exposed and this is the style for those mines */
.active_mine {
    background-color: #7c0200;
    color: white;
    border-color: black;
}
/*  if a player wrongly flagged a node and selected the base node to see if their choice was right then this style is
    applied to the node to let the user know they guessed wrong */
.wrongly_flagged_node {
    background-color: #c1b1de;
}
.wrongly_flagged_node:hover {
    background-color: #826fa3;
}
/* this is applied to the node's values if they are inactive and to the game over messages to hide them */
.hide {
    color: black;
    font-size: 20px;
    display: none;
}
/* to add a background color to the game */
body {
    margin: 45px;
    background-color: #EDF0EF;
}
/* this is the style for the top buttons(Home, Beginner, Medium, and Hard */
.btn {
    background-color: #D9C7FC;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin: 15px;
    border: solid;
    border-width: 1px;
    border-color: #5B08FC;
    font-weight: bold;
    font-size: 20px
}

/* This style is for the pop up score box after a player wins a game */
.text {
    margin: 20px auto;
    width: 700px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    border: solid;
    padding: 40px;
    background-color: lightgrey;
    text-align: left;
    padding-left: 80px;
}
/* the input field for a player's name for the leaderboard */
.name_input {
    width: 250px;
    display: inline;
}
/* the color/size for the 'congratulations' message after winning a game */
.game_won {
    font-size: 55px;
    color: darkgreen;
}
/* the color/size for the 'sorry try again' message that pops up when losing a game */
.game_lost {
    font-size: 55px;
    color: red;
}
/* the submit button in the score box after winning */
.submit {
    background-color: #91FFF2;
    font-size: 25px;
    padding: 10px 15px;
}
.submit:hover {
    background-color: #1EAC9B;
}
/* for the div that contains the leaderboard*/
.leaderboard {
    background-color: darkgray;
    padding: 40px;
    margin: 55px 55px;
    border: solid;
    width: 75%;
    margin: 35px auto;
}
/* to style the leaderboard header  */
#leaderboard {
    font-size: 60px;
    font-weight: bold;
    color: #FFED8A;
}
/* style for each entry on the leaderboard */
.player_scores {
    background-color: lightgray;
    padding: 40px;
    font-size: 20px;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    text-align: center;
    width: 70%;
    margin: 20px auto;
    border-radius: 11px;
}
/* to style each p tag inside the entries of the leaderboard(mostly just for margin) */
.stats {
    display: inline;
    margin: 15px;
}
/* style for each icon on the leaderboard */
.icons {
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 11px;
}
/* style for when a user gets a penalty message */
.alert {
    width: 450px;
    margin: 10px auto;
    border-radius: 11px;
}
/* the Minesweeper logo */
.title {
    font-size: 80px;
    color: darkred;
    font-weight: bold;
}
/* css to center all the games */
.center_games {
    margin: auto;
    display: inline-block
}
/* css for the timer of each game */
#time {
    color: #bf455d;
}
/*  the following classes are to style the value of the nodes for an active node depending on how many mines are
    surrounding the node */
.one {
    color: blue;
}
.two {
    color: green;
}
.three {
    color: red;
}
.four {
    color: purple;
}
.five {
    color: maroon;
}
.six {
    color: turquoise;
}
.seven {
    color: black;
}
.eight {
    color: gray;
}
/* we set the game width to 1450px to let the all games fit on the page. Align all child elements to the center */
#game_width {
    text-align: center;
    width: 1450px;
}
