.inactive {
    background-color: #adebf0;
    padding: 35px;
    border: none;
    cursor: pointer;
    margin: 5px;
    float: left;
}
.inactive:hover, .inactive:focus {
    background-color: #71c3c9;
    display: inline;
}

.grid {
    background-color: #adebf0;
    padding: 35px;
    border: none;
    cursor: pointer;
    margin: 5px;
    float: left;
}
.grid:hover, .grid:focus {
    background-color: #71c3c9;
    display: inline;
}

.active {
    background-color: #f7e0df;
    padding: 35px;
    border: none;
    cursor: pointer;
    margin: 5px;
    float: left;
}

.active:hover, .active:focus {
    background-color: #f0b2ad;
    display: inline;
}

.flagged_node {
    background-color: #03211c;
    padding: 35px;
    border: none;
    cursor: pointer;
    margin: 5px;
    float: left;
    color: white;
}

.flagged_node:hover, .flagged_node:focus {
    background-color: #7d9267;
    display: inline;
}

.active_mine {
    background-color: #7c0200;
    padding: 35px;
    border: none;
    cursor: pointer;
    margin: 5px;
    float: left;
}

.hide {
    color: black;
    font-size: 20px;
    display: none;
}
